<h1><%= @article.title %></h1>
<p><%= @article.text %></p>

<p><%= link_to 'Back', articles_path %></p>


<% @article.comments.each do |comment| %>
	 <h2><%= comment.commenter %></h2>	 
	 <p><%= comment.body %></p>
	 
	 <hr/>	 
<% end %>


<h2>Add a comment:</h2>
<%= form_for([@article, @article.comments.build]) do |f| %>
  <p>
    <%= f.label :commenter %><br>
    <%= f.text_field :commenter %>
  </p>
  <p>
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
